<h1 class="edid-head">Editing Book</h1>

<%= form_with model:@book,local:true do |f| %>
  <div class="edit-field">
    <div>Title<div>
      <%= f.text_field :title %>
  </div>
  <div class="edit-field">
    <div>Body</div>
    <%= f.text_area :body %>
  </div>
  <div class="edit-field">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<span><%= link_to 'show', book_path(@book) %></span>
<a class="btn" href="/books">Back</a>
